body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: lightgray;
  border: 2px solid;
  max-width: 500px;
  padding: 20px;
  margin-top: 200px;

}

.btn {
  margin: 10px;
}

.container {
  max-width: 1000px;
  margin: 0px auto;
  padding: 10px;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: lightgray;
  border: 2px solid;
  max-width: 500px;
  margin: auto;
  margin-top: 200px;
}

.logout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  border: 2px solid;
  max-width: 500px;
  max-height:500px;
  margin: auto;

}

.game-title {
  justify-content: center;
  text-align: center;
}

.form-title {
  margin-left: 10px;
}

.select-user {
  width: 200px
}

.nav-text {
  font-size: medium;
  font-weight: bold;
  padding: 20px;
}

.nav {
  display: flex;
  flex-direction: row;

}

.nav-user-functions {
  display: flex;
  flex-direction: row-reverse;

}

.nav-user {
  font-size: medium;
  font-weight: bold;
  padding: 20px;
}
.nav-username {
  font-size: medium;
  font-weight: bold;
  padding: 20px;
}

.question {
  padding: 10px;
  display: flex;
  margin: 10px;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.question-avatar {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #000000;
  align-items: center;
  margin-left:-10px;
}

.question-avatar-caption {
  font-size: medium;
  font-weight: bold;
  padding: 5px;
}

.question-avatar-image {
  height: 100px;
  width: 100px;
}

.question-info {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding-left: 10px
}

.question-info > h3 {
  text-align: center;
}

.question-header {
  text-align: center;
}



.question-list {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 100px;


background: #F2F2F2;
border: 1px solid #000000;
box-sizing: border-box;
}



